; This is a configuration file for the librusRipAnnouncements() function

; default_user_id is "14"
; default_user_secret is "3dd86ca34196d54211092eb94651dca7"
; default token shall be "default_user_id:default_user_secret" encoded in base64
default_token		=	'MTQ6M2RkODZjYTM0MTk2ZDU0MjExMDkyZWI5NDY1MWRjYTc='

login				=	''
password			=	''